.RInput {
    width: 80%;
    max-width: 500px;
    height: 70px;
    margin: 15px;
    padding: 0 0 0 15px;
    position: relative;

    label {
        left: 0;
        font-size: 18px;
        color: #666;
        position: absolute;
    }

    input {
        width: 100%;
        padding: 0 0 0 25px;
        border: 0 solid;
        background-color: rgba(0, 0, 0, 0.1);
        transform: translate(5px, 12px);
        vertical-align: bottom;
        line-height: 45px;
        font-size: 24px;
        font-weight: 200;
        color: #ddd;
        box-sizing: border-box;
    }
}