@import "core/core";
@import "core/actionEngine";
@import "core/stateEngine";
@import "diracSea";

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;

    .core-engine, .state-engine, .action-engine, .dirac-sea {
        display: inline-block;
        float: left;

        &:hover {
            opacity: 0.8;
        }
    }
}