@import "core/core";
@import "core/ATFieldEngine";
@import "core/stateEngine";
@import "calendar/calendar";
@import "diracSea";
@import "component/index";

body {
    margin: 0;
    font-family: 'Exo', sans-serif;
}
div, span {

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

*:focus {
    outline: none;
}

button {
    &:hover {
        cursor: pointer;
    }
}

.hidden-element {
    visibility: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    min-height: 600px;

    .core-engine, .LCL-engine, .AT-field-engine, .dirac-sea {
        float: left;
        padding: 15px;
        display: inline-block;
        box-sizing: border-box;
    }
}