@calendar-item-width: 14%;
@calendar-item-height: 18%;

.calendar-item {
    width: @calendar-item-width;
    height: @calendar-item-height;
    padding: 5px;
    transition-duration: 0.1s;

    cursor: pointer;
}

.calendar-header-item {
    display: inline-block;
}

.calendar-body {
    position: relative;
    height: 100%;
}

.calendar-month {
    padding: 15px;
    width: 100%;
    height: 100%;
    color: #777;
}

.calendar-date-picker {
    height: 100%;
}


@import 'calendarDay';
@import 'calendarConfigEvent';